*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    width:100%;
    height:100vh;

    background:#efefef;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Arial, Helvetica, sans-serif;
}

/* SCENE */

.scene{

    position:relative;

    width:1000px;
    height:700px;
}

/* FORM */

.form-box{

    position:absolute;

    top:135px;
    left:320px;

    width:260px;

    z-index:10;

    display:flex;
    flex-direction:column;
    gap:12px;
}

.form-box input[type="text"],
.form-box input[type="email"]{

    width:100%;
    height:34px;

    border:1px solid #bdbdbd;

    background:white;

    padding:10px;

    outline:none;

    transition:.4s;
}

.form-box input:focus{

    border-color:#222;
}

/* CHECK */

.check{

    display:flex;
    align-items:center;

    gap:10px;

    font-size:12px;
}

/* BUTTON */

button{

    width:100px;
    height:34px;

    border:none;

    background:#000;
    color:white;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    transform:scale(1.04);
}

/* SVG */

.machine{

    position:absolute;
    inset:0;

    width:100%;
    height:100%;
}

/* DEFAULT SVG */

.machine line,
.machine rect,
.machine circle,
.machine path{

    fill:none;

    stroke:#2a2a2a;

    stroke-width:1.8;

    stroke-linecap:round;
    stroke-linejoin:round;
}

/* FILLED */

.hand{

    fill:#efefef;
}

/* GEARS */

.gear-1{

    animation:spin 35s linear infinite;

    transform-origin:720px 120px;
}

.gear-2{

    animation:spinReverse 18s linear infinite;

    transform-origin:620px 170px;
}

.gear-3{

    animation:spin 24s linear infinite;

    transform-origin:675px 235px;
}

/* PENDULUM */

.pendulum{

    animation:swing 5s ease-in-out infinite alternate;

    transform-origin:430px 380px;
}

/* HANG OBJECT */

.hand{

    animation:upDown 3s ease-in-out infinite alternate;
}

/* KEYFRAMES */

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

@keyframes spinReverse{

    from{
        transform:rotate(360deg);
    }

    to{
        transform:rotate(0deg);
    }
}

@keyframes swing{

    from{
        transform:rotate(-10deg);
    }

    to{
        transform:rotate(10deg);
    }
}

@keyframes upDown{

    from{
        transform:translateY(0px);
    }

    to{
        transform:translateY(10px);
    }
}
